*{
	margin:0px;
	padding:0px
}
body
{
	background-color: #00fc44;
}
#head
{
	z-index:5;
	display:flex;
	justify-content: space-between;
	height:30px;
	width:100%;
	position:fixed;
	background: linear-gradient(0deg, rgba(160,45,253,1) 38%, rgba(212,28,197,1) 57%);
	color:white;
}
#navbar
{

	flex:3;

}

#navbar ul
{
	padding-top: 5px;
	padding-left:40px;
	text-align: center;
}
#navbar li
{
	padding:7px;
	display:inline;
}
#navbar a
{
	padding:7px;
	text-decoration: none;
}
#thispage
{
	background-color: black;
}
#navbar a:hover
{
	background-color: red;
}
#navbar a:visited
{
	color:white;
}

#signs{
 width:150px;

}
#signs nav
{

}
#signs ul
{
	padding-top: 5px;
	text-align: center;
}
#signs li
{
	display:inline;
	padding:7px;
}
#signs li:hover
{
	background-color: red;
}
#banner
{
	display:flex;
	color:#37cc5f;
	font-size:40px;
	position:relative;
	padding-top: 30px;
	
}
#banner img
{

	width:100%;
	height:400px;
	margin-right: 20px;
	margin-left: 20px;
}
#bnrtxt h1
{
	position:absolute;
	bottom:20px;
	left:40px;
}

#formarea
{
	display:flex;
	margin:20px;
	/*background-color: white;*/
	background-image:url("images/mjleaf.png");

}
form
{
	z-index: 5;
	margin:0px auto;
	width:400px;
	height:350px;
	/*border:2px black solid;*/
	padding:10px;
	background-color:white;
}
form .error{
	display:none;
	color:red;
	font-weight: bold;
	font-size:.8em;
}
form ol
{
	margin:10 auto;
	list-style:none;
}
form label
{
	float:left;
	width: 150px;
	text-align: right;
	
}
form textarea
{
	float:left;
	width:160px;
	text-align: left;
	margin-bottom: 10px;

}

form li:nth-child(odd)
{
	margin-top:10px;
}
form div{
	margin-left: 150px;
	padding:0;
}
form footer
{

	clear:both;
	text-align:center;
}

input:focus, select:focus, textarea:focus
{
	background:red;
	color:white;
}